<div class="container" ng-controller="SignUpController as signUp">
  <h2 id="menu-categories-title" class="text-center">
    Sign Up to our Newsletter!
  </h2>
  <div class="text-center">
    Dear valued customer, please sign up to our newsletter to know more about specials and events filling the form below.
  </div>

  <form name='signUpForm' class="sign-up-form" novalidate>
    <p>
    <input type="text" name="firstname" placeholder="First name"
      ng-model="signUp.user.firstname"
      required>
    <span ng-if="signUpForm.firstname.$invalid && signUpForm.firstname.$touched">
        First name is a required field
    </span>
    </input>
    </p><p>
    <input type="text" name="lastname" placeholder="Last name"
      ng-model="signUp.user.lastname"
      required>
      <span ng-if="signUpForm.lastname.$invalid && signUpForm.lastname.$touched">
        Last name is a required field
      </span>
    </input>
    </p><p>
    <input type="email" name="email" placeholder="Email"
      ng-model="signUp.user.email"
      required>
      <span ng-if="signUpForm.email.$invalid && signUpForm.email.$touched">
        Must be a valid email address: handle@domain format
      </span>
    </input>
    </p><p>
    <input type="number" name="phone" placeholder="Phone Number"
      ng-model="signUp.user.phone">
    </input>
    </p><p>
    <input type="text" name="favoritedish" placeholder="Favorite Dish"
      ng-model="signUp.user.favoritedish">
      <span ng-if="signUp.favoriteDishError">
        No such menu number exists
      </span>
    </input>
    </p>

    <button
          ng-disabled="signUpForm.$invalid"
          ng-click="signUp.submit()">Submit
    </button>
  </form>
  <span ng-if="signUp.infoSaved">
    Your information has been saved
  </span>
</div>
