<ol class="breadcrumb">
  <li><a ui-sref="home">Home</a></li>
  <li><a ui-sref="categories">Categories</a></li>
  <li class="active">{{items.category.short_name}}</li>
</ol>

<div>
  <h2>{{items.category.short_name}}. {{items.category.name}}</h2>
  <h4>{{items.category.special_instructions}}</h4>
  <div class="row" ng-repeat="item in items.menu_items">
    <div class="col-md-10 col-sm-10">
      <h3>{{ item.short_name }}. {{ item.name }}</h3>
      <h4>{{ item.description }}</h4>
      {{ item.small_portion_name }} {{item.price_small | currency}} {{item.large_portion_name}} {{item.price_large | currency}}
    </div>
  </div>
</div>
