<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
  </head>
<body ng-app="ShoppingListCheckOff">
  <div class="container content">
    <div class="jumbotron">
      <h1>Shopping List Check Off</h1>

      <p>
      Mark shopping list items as you buy them to move them to the already bought list.
      </p>

      <div class="row">

        <!-- To Buy List -->
        <div class="col-md-6" ng-controller="ToBuyShoppingController as toBuyList">
         <h2>To Buy:</h2>
         <div class="row">
           <div class="col-md-8 col-xs-10">
             <ul>
               <li ng-repeat="item in toBuyList.items">Buy {{item.quantity}} {{item.name}} <button class="btn btn-primary btn-sm pull-right" ng-click="toBuyList.buy($index)"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
             </ul>
           </div>
           <div class="col-md-4 col-xs-2">
           </div>
         </div>
         <div class="alert alert-success" role="alert" ng-if="toBuyList.items.length < 1"><b>Everything is bought!</b><br>Great job getting all the items.</div>
         </div>


        <!-- Already Bought List -->
        <div class="col-md-6" ng-controller="AlreadyBoughtShoppingController as alreadyBoughtList">
         <h2>Already Bought:</h2>
         <ul>
           <li ng-repeat="itemBought in alreadyBoughtList.items">Bought {{itemBought.quantity}} {{itemBought.name}}</li>
         </ul>
         <div class="alert alert-danger" role="alert" ng-if="alreadyBoughtList.items.length < 1"><b>Nothing bought yet.</b> <br>Why don't you try buying some of the items from the "To Buy" list?</div>
        </div>
      </div>
    </div>
  </div>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
