<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="styles/style.css">
  </head>
<body ng-app="NarrowItDownApp">
  <div class="container my_nav">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="../index.html">Home</a></li>
      <li role="presentation"><a href="../module1/index.html">Lunch Checker</a></li>
      <li role="presentation"><a href="../module2/index.html">Shopping List Check Off</a></li>
      <li role="presentation" class="active"><a href="../module3/index.html">Search Chinese Menu</a></li>
      <li role="presentation"><a href="../module4/index.html">Browse Chinese Menu</a></li>
    </ul>
  </div>
  <div class="container content" ng-controller="NarrowItDownController as menu">
    <div class="jumbotron">
      <h1>Narrow Down Your Chinese Menu Choice</h1>

      <div class="form-group">
        <input type="text" placeholder="search term" class="form-control" ng-model="searchTerm">
      </div>
      <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="menu.getMatchedMenuItems(searchTerm);">Narrow It Down For Me!</button>
      </div>

      <items-loader-indicator></items-loader-indicator>

      <br>
      <found-items
        found-items="menu.found"
        title="{{menu.title}}"
        on-remove="menu.removeItem(index)">
      </found-items>
    </div>
  </div>
  <script src="../lib/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
