<!DOCTYPE html>
<html ng-app="LunchCheck">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/bootstrap.min.css">    
    <link rel="stylesheet" href="styles/style.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Lunch Check</title>
  </head>
  <body>
    <div class="container content" ng-controller="LunchCheckController">
      <div class="jumbotron">
      <h1>Lunch Checker</h1>
        <p>
        This app checks the amount of food you're having for lunch to determine if it's too much or not. Please enter the dishes you usually have for lunch separated by commas.
        </p>
        <p>
        Note: If you enter empty items (only white space between commas) that won't considered, so it won't add up to the count.
        </p>
        <div class="form-group">
          <input id="lunch-menu" type="text"
                 placeholder="list comma separated dishes you usually have for lunch"
                 class="form-control" ng-model="foods" ng-class="border_color">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" ng-click="displayMessage()">Check If Too Much</button>
        </div>
        <div class="form-group" ng-class="message_class">
            <strong>{{message}}</strong>
        </div>
      </div>
    </div>
  </body> 
</html>
